* {
  box-sizing: border-box;
  color: #502b14;
}

a:hover {
  transition: all .5s ease;
}

.active-link {
  &:hover, &:active {
    color: #e0de78;
  }
}

a.metadrop-link {
  @extend .active-link;
  color: white;
  font-weight: bold;
}

section.header {
  background-size:cover;
  position: relative;
  background: url(~/assets/images/fantasy.jpg) no-repeat center;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(79, 57, 57, 0.6);
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -0;
    height: 20px;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.5);
  }

  .title {
    margin-top: .3em;
  }

  .container {
    position: relative;
    .title, .subtitle {
      color: white;
    }
  }

  .skills-container {
    margin-bottom: 1em;
  }
}

.section.section_skills{
  background-color: lightgray;
}

img.photo {
  display: inline-block;
  width: 128px;
  border-radius: 50%;
  max-width: 100%;
}

.skills {
  .skill {
    font-weight: bold;
    display: inline-block;
    border-radius: 5px;
    padding: .5em;
    background-color: #e0de78;
    color:black;
    margin-right: 1em;
    margin-top: .5em;
    color: black;

    &:hover, &:active {
      background-color: lightgray;
    }
  }
}

.skill-description .content {
  margin-top: 1em;
  transition: all .5s ease;
}